doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        style.
            * {
                padding: 0;
                margin: 0;
                overflow: hidden;
            }
    body
        #app
        script(type="text/javascript" src="lib/live2d.min.js" charset="utf-8")
        script(type="text/javascript" src="lib/tts/fingerprint.js" charset="utf-8")
        script(type="text/javascript" src="lib/tts/tts.min.js" charset="utf-8")
        script(type="text/javascript" src="lib/iat/fingerprint2.min.js" charset="utf-8")
        script(type="text/javascript" src="lib/iat/iat.all.js" charset="utf-8")
        script(type="text/javascript" src="lib/vad.js")
        script(src="lib/pocketsphinx/audioRecorder.js")
        script(src="lib/pocketsphinx/callbackManager.js")
        script(type="text/javascript" src="index.js" charset="utf-8")

            